#grid {
	width: 400px;
}
#grid div {
	width: 100px;
}
#grid img {
	width: 90px;
	height: 90px;
	border: solid black 4px;
}
#grid div {
	display: inline
}
#grid .face-down .front {
	display: none
}
#grid .face-up .front {
	display: inline
}
#grid .face-down .back {
	display: inline
}
#grid .face-up .back {
	display: none
}
