#game {
	width: 420px;
}
#game div {
	margin-left: auto;
	margin-right: auto;
}
#grid {
	width: 400px;
}
#grid div {
	width: 105px;
}
#grid img {
	width: 80px;
	height: 80px;
	margin: 5px;
	border: solid black 4px;
}
#grid .done img {
	border: solid blue 4px;
}
#grid div {
	display: inline
}
#grid .face-down .front {
	display: none
}
#grid .face-up .front {
	display: inline
}
#grid .face-down .back {
	display: inline
}
#grid .face-up .back {
	display: none
}

body {
	font-family: "Courier New"
}
body > div {
	width: 420px;
}
#control {
	background: lightblue;
}
#start {
	width: 100px;
	height: 50px;
}
